  <!-- Плеер -->

  <% var compositions = [
    {
      artist: 'Slipknot',
      song: 'Snuff'
    },
    {
      artist: 'System of a down',
      song: 'Lonely Day'
    },
    {
      artist: 'Scorpions',
      song: 'Slave Me'
    }
  ] %>

  <section class="player container container--sm bg-grey" data-player id="player">
    <dialog id="playlist">
      <div class="dialog dialog--sm radius-3 p-5 p-md-10">
        <div class="text text--center text-32 bold-7 mb-6">Playlist</div>
        <div class="flex flex-column gap-4">
          <% for (var i = 0; i < compositions.length; i++) { %>
            <div class="flex align-center gap-2">
              <button class="player__btn btn btn--primary btn--fade radius-max" data-player-composition="<%= i %>">
                <svg class="player__loading icon text-34 d-none" data-player-loading>
                  <use xlink:href="img/icons.svg#loading">
                </svg>
                <svg class="icon text-38" data-player-status>
                  <use xlink:href="img/icons.svg#play">
                </svg>
              </button>
              <div class="flex flex-column">
                <span class="text-20 bold-6"><%= compositions[i].artist %></span>
                <span class="text-16 fade-70"><%= compositions[i].song %></span>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </dialog>
    <div class="player__controls flex flex-column align-center justify-center bg-white shadow-box radius-5 mx-auto py-6 px-2 px-md-4" data-player-controls>
      <div class="player__pack pack pack--box bg-grey radius-max w-100 mb-5 mb-md-8">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <img class="image" data-player-poster src="" loading="lazy" alt="">
        </picture>
      </div>
      <div class="font-alt text text--center text-26 text-md-32 bold-7 lh-4" data-player-artist></div>
      <div class="text text--center text-16 text-md-22 bold-5 mb-6" data-player-song></div>
      <audio class="d-none -player-audio-" data-player-audio src=""></audio>
      <div class="bg-grey radius-5 w-100 py-5 px-3 px-md-5">
        <div class="relative bg-gray radius-7 pointer w-100 mb-3 pb-1" data-player-progress>
          <div class="player__range absolute bg-primary radius-7 h-100" data-player-range></div>
        </div>
        <div class="flex align-center justify-between gap-4">
          <button class="btn btn--primary btn--fade text-24 radius-1 p-1" data-fancybox-dialog data-src="#playlist">
            <svg class="icon">
              <use xlink:href="img/icons.svg#burger">
            </svg>
          </button>
          <div class="player__time d-none d-md-block text-18" data-player-start></div>
          <button class="player__btn btn btn--primary btn--fade text-20 radius-max" data-player-prev>
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-prev">
            </svg>
          </button>
          <button class="player__btn btn btn--primary btn--fade radius-max" data-player-play>
            <svg class="player__loading icon text-34 d-none" data-player-loading>
              <use xlink:href="img/icons.svg#loading">
            </svg>
            <svg class="icon text-38" data-player-status>
              <use xlink:href="img/icons.svg#play">
            </svg>
          </button>
          <button class="player__btn btn btn--primary btn--fade text-20 radius-max" data-player-next>
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-next">
            </svg>
          </button>
          <div class="player__time d-none d-md-block text-18" data-player-end></div>
          <button class="btn btn--primary btn--fade text-16 radius-max p-2" data-player-volume="on">
            <svg class="icon">
              <use xlink:href="img/icons.svg#volume-on">
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>