body {
  color           : var(--color-black);
  background-color: var(--color-white);

  &:is([data-theme="dark"]) {
    --color-black: #FFFFFF;
    --color-white: #160c22;
    --color-grey : #07061f;

    & :is([data-theme="light"]) {
      --color-black: #20162C;
      --color-white: #FFFFFF;
      --color-grey : #F7F7F8;
    }

    & .header {
      background-color: var(--color-white);
    }

    & .about__bg {
      background-image: linear-gradient(108.89deg, var(--color-black) 30.7%, var(--color-black-30) 100%);
    }

    & .show__bg {
      opacity: 0.2;
    }

    & .visit__card {
      background-color: var(--color-black);
    }

    & .news__card {
      --news-color: var(--color-black);
      --news-bg   : var(--color-grey);
    }

    & .footer {
      background: var(--color-black);
    }
  }
}

::selection {
  color           : var(--color-white);
  background-color: var(--color-primary);
}