// Карточка
.card {
  display         : flex;
  flex-direction  : column;
  position        : relative;
  background-color: var(--color-white);
  box-shadow      : 8px 8px 4px var(--color-black-20);
  border-radius   : 16px;
  transition      : box-shadow 0.2s ease, transform 0.1s ease;
  overflow        : hidden;

  &-content {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
  }

  &:active {
    transform: translateY(4px);
  }

  @media(hover) {
    &:hover {
      box-shadow: 8px 8px 4px var(--color-black-50);
    }
  }
}