// Контейнер
.container {
  --padding-block : 40px;
  --padding-inline: 100vw - 30px;
  padding         : var(--padding-block) calc(50% - ((var(--padding-inline)) / 2));

  @media(min-width: $sm) {
    &--sm {
      --padding-inline: var(--sm);
    }
  }

  @media(min-width: $md) {
    & {
      --padding-block : 50px;
      --padding-inline: var(--md);
    }
  }

  @media(min-width: $lg) {
    & {
      --padding-block : 70px;
      --padding-inline: var(--lg);

      &:is(&--distance) {
        --width         : var(--lg);
        --distance      : 10px;
        --padding-inline: calc(var(--width) + (var(--distance) * 2));
        margin          : var(--distance);
        border-radius   : var(--distance);
      }
    }
  }

  @media(min-width: $xl) {
    & {
      --padding-inline: var(--xl);

      &:is(&--distance) {
        --width   : var(--xl);
        --distance: 20px;
      }
    }
  }
}