// Fancybox
.fancybox {
  &-loading {
    pointer-events: none;

    & .fancybox__slide {
      padding : 0;
      overflow: hidden;
    }

    & .fancybox__content {
      display        : flex;
      align-items    : center;
      justify-content: center;
      width          : 100vw;
      height         : 100vh;
      pointer-events : all;
      overflow       : hidden;
    }

    & .carousel__button {
      display: none;
    }
  }

  &__spinner {
    width : auto;
    height: auto;
  }

  &__content {
    padding   : 0;
    background: none;
    max-width : 100%;

    & :focus:not(.carousel__button.is-close) {
      outline: none;
    }

    &>.carousel__button.is-close {
      top             : 8px;
      right           : 8px;
      color           : var(--color-white);
      background-color: var(--color-gray-dark);
      box-shadow      : 0 4px 8px var(--color-black-10);
    }
  }

  @media(max-width: $md) {
    &__content>.carousel__button.is-close {
      position: fixed;
    }
  }
}

// Slider-swiper
.swiper {
  &--overwrap {
    margin : -15px;
    padding: 15px;
  }

  &-pagination {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : static;

    &-bullet {
      width           : 12px;
      height          : 12px;
      background-color: currentColor;
      transition      : background-color 0.2s ease;
    }
  }

  &-button {

    &-prev,
    &-next {
      &::after {
        display: none;
      }
    }

    &-prev:not(.default),
    &-next:not(.default) {
      width        : 60px;
      height       : 60px;
      position     : absolute;
      border-radius: 50%;
      box-shadow   : 0px 6px 15px var(--color-black-10);
    }

    @media(min-width: $md) {
      &-prev:not(.default) {
        left: -40px;
      }

      &-next:not(.default) {
        right: -40px;
      }
    }
  }
}