// Лайк
.like {
  cursor: pointer;

  &-heart {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 40px;
    height          : 40px;
    background-color: var(--color-white-40);
    font-size       : var(--text-24);
    border-radius   : 50%;
    transition      : 0.2s linear;
  }

  &-icon {
    fill      : var(--color-none);
    stroke    : var(--color-red);
    transition: 0.2s linear;
  }

  &-toggle:checked+&-heart>&-icon {
    fill: var(--color-red);
  }
}