// Тень
.shadow {
  &-box {
    box-shadow: 0px 2px 4px var(--color-black-10);
  }

  &-text {
    text-shadow: 0px 2px 4px var(--color-black-10);
  }

  &-drop {
    filter: drop-shadow(0px 2px 4px var(--color-black-10));
  }
}