$colors: ("none": rgba(0, 0, 0, 0),
  "primary": #EF713A,
  "second": #0170E5,
  "light": #49DDFD,
  "dark": #02438F,
  "blue": #0066A2,
  "akva": #00436A,
  "black": #20162C,
  "white": #FFFFFF,
  "grey": #F7F7F8,
  "gray": #EFF0F3);

$font-family: ("alt": "Futura PT",
  "base": "Inter"
);

$sm: 460.98px;
$md: 768.98px;
$lg: 1024.98px;
$xl: 1280.98px;

:root {

  @each $key,
  $value in $font-family {
    --font-#{$key}: "#{$value}",
    Arial,
    Helvetica,
    sans-serif;
  }

  @for $i from 5 through 25 {
    --text-#{calc(2 * $i)}: #{calc(2 * $i / 16) + rem};
  }

  @each $key,
  $value in $colors {
    @include getColors($value, $key);
  }

  --sm : #{calc($sm - 30.98px)};
  --md : #{calc($md - 48.98px)};
  --lg : #{calc($lg - 54.98px)};
  --xl : #{calc($xl - 50.98px)};

  --spacing : 4px;
  --size-lg : 52px;
  --size-md : 36px;
}