<% var data = {

  title: 'Seafood Expo Eurasia',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->
<main class="main container flex align-center justify-center relative bg-second overflow-hidden">
  <div class="bg-block">
    <div class="pack pack--rect w-100 h-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <video class="image" src="media/video.mp4" poster="img/pictures/main-bg.jpg" autoplay loop muted></video>
    </div>
  </div>
  <div class="flex flex-column align-center justify-center relative color-white w-100 h-100">
    <div class="main__pack pack pack--rect w-100 mb-5 mb-md-10">
      <picture>
        <source srcset="img/pictures/logo-main.webp" type="image/webp">
        <img class="image image--sd" src="img/pictures/logo-main.png" alt="">
      </picture>
    </div>
    <h1 class="font-alt text text--center text--uppercase text-26 text-md-30 text-lg-36 bold-7 lh-3 mb-3 mb-md-6">SEAFOOD EXPO EURASIA <br class="d-none d-md-block">DECEMBER 7-9, 2023</h1>
    <h3 class="text text--center text-14 text-md-16 bold-7 lh-2 mb-10">Istanbul, Tuyap</h3>
    <button class="main__btn btn btn--primary btn--lg btn--fill w-100" data-waved>Book a stand</button>
  </div>
</main>

<%= require('./includes/footer.html').default %>