<% var data = {

  title: 'Primary page',
  status: false

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<%= _.template(require('./includes/heading.html').default)({data}) %>

<!-- Галерея -->

<section class="gallery container bg-white" id="content">
  <h2 class="font-alt text text--center text-40 text-md-50 bold-7 lh-4 shadow-text mb-3 anim anim--up" data-movement="blend" data-anim="hidden">Slider-swiper</h2>
  <h3 class="text text--center text-16 text-md-18 lh-2 bold-6 mb-5 mb-md-10 anim anim--up" data-anim="hidden">Class template for slider</h3>
  <div class="gallery-slider relative anim anim--right" data-anim="hidden">
    <div class="swiper swiper--overwrap">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
          <a class="swiper-slide pack pack--rect bg-grey radius-4 shadow-box" data-movement="light" data-fancybox="gallery" href="https://picsum.photos/600/400?random=<%= i %>">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <img class="image image--rise" src="https://picsum.photos/600/400?random=<%= i %>" loading="lazy" alt="">
            </picture>
          </a>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination d-flex d-md-none color-primary mt-5"></div>
    <button class="swiper-button-prev btn btn--primary btn--fill d-none d-md-flex" data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn--primary btn--fill d-none d-md-flex" data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Продукция -->

<% var products = [
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
    price: '1 200$'
  },
  {
    text: 'Lorem ipsum dolor sit amet',
    oldPrice: '4 000$',
    price: '3 400$'
  },
  {
    text: 'Lorem ipsum dolor sit',
    price: '1 000$'
  },
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
    oldPrice: '55 000$',
    price: '47 000$'
  },
  {
    text: 'Lorem ipsum dolor sit',
    oldPrice: '8 000$',
    price: '7 000$'
  },
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit',
    price: '83$'
  }
] %>

<section class="products container container--distance bg-grey">
  <h2 class="font-alt text text--center text-40 text-md-50 bold-7 lh-4 shadow-text mb-5 mb-md-10 anim anim--up" data-movement="blend" data-anim="hidden">Products</h2>
  <form class="form mb-7">
    <div class="form-wrapper">
      <div class="input-cover">
        <input class="input pl-10" type="search" placeholder="Поиск..." list="search" name="search">
      </div>
      <datalist id="search">
        <option>Milk</option>
        <option>Tomato</option>
        <option>Meat</option>
        <option>Potatoes</option>
      </datalist>
      <div class="form-icon form-icon--left text-20 fade-30">
        <svg class="icon">
          <use xlink:href="img/icons.svg#search">
        </svg>
      </div>
    </div>
  </form>
  <div class="products-slider relative">
    <div class="swiper swiper--overwrap">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < products.length; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="product card link-wrapper pointer h-100 p-1" data-product>
              <div class="pack pack--rect bg-grey radius-4">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <img class="image" data-product-image="https://picsum.photos/600/400?random=<%= i %>" src="https://picsum.photos/600/400?random=<%= i %>" loading="lazy" alt="">
                </picture>
                <label class="product__like like absolute">
                  <input class="product__toggle like-toggle d-none" type="checkbox">
                  <span class="product__heart like-heart">
                    <svg class="like-icon icon">
                      <use xlink:href="img/icons.svg#like">
                    </svg>
                  </span>
                </label>
              </div>
              <div class="card-content p-2 p-md-4">
                <h4 class="text-18 text-md-20 bold-7 mb-2" data-product-name>Name <%= i %></h4>
                <p class="link text-16 fade-70 mb-3"><%= products[i].text %></p>
                <div class="flex flex-wrap align-end justify-between gap-4 mt-auto mb-5">
                  <div class="flex flex-column w-100 w-md-auto">
                    <% if (products[i].oldPrice) { %>
                      <span class="text text--line text-14 text-md-16 bold-4 fade-60 mb-2" data-product-oldprice><%= products[i].oldPrice %></span>
                    <% } %>
                    <span class="text-20 text-md-24 bold-6" data-product-price><%= products[i].price %></span>
                  </div>
                  <div class="quantity" data-quantity>
                    <span class="quantity-btn btn btn--gray btn--fill radius-max" data-quantity-decrease>-</span>
                    <div class="quantity-cover input-cover">
                      <input class="quantity-input input" data-product-quantity data-input="number" type="text" value="1" name="quantity">
                    </div>
                    <span class="quantity-btn btn btn--gray btn--fill radius-max" data-quantity-increase>+</span>
                  </div>
                </div>
                <span class="btn btn--primary btn--lg btn--fade" data-product-button data-waved>
                  <svg class="icon mr-2">
                    <use xlink:href="img/icons.svg#basket">
                  </svg>
                  Basket
                </span>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination color-primary mt-5"></div>
    <button class="swiper-button-prev btn btn--primary btn--fill d-none d-md-flex" data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn--primary btn--fill d-none d-md-flex" data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Корзина -->

<div class="basket fixed zi-1 bg-white radius-4 shadow-box hidden fade-0 ease duration-3 w-100 mx-auto p-5" data-basket="hidden">
  <div class="flex align-center justify-between mb-4">
    <h4 class="text-24 bold-6 mr-3">Product in basket</h4>
    <button class="btn btn--primary text-18 radius-1 p-1" data-basket-close>
      <svg class="icon">
        <use xlink:href="img/icons.svg#close">
      </svg>
    </button>
  </div>
  <div class="flex align-center mb-4">
    <div class="basket__pack pack pack--box bg-gray radius-4 mr-5">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <img class="image" data-basket-image src="https://picsum.photos/600/400?random=5" loading="lazy" alt="">
      </picture>
    </div>
    <div class="flex flex-column">
      <span class="text-18 text-md-20 bold-7 mb-3" data-basket-name>Name 4</span>
      <span class="text-20 text-md-22 bold-4" data-basket-quantity>4 шт</span>
    </div>
  </div>
  <div class="flex align-end justify-between gap-2">
    <div class="flex flex-column">
      <span class="text text--line text-12 text-md-16 bold-4 fade-60" data-basket-oldprice>8 000$</span>
      <span class="text-20 text-md-22 bold-6" data-basket-price>7 000$</span>
    </div>
    <button class="btn btn--second btn--lg btn--fade px-10" data-waved>Basket</button>
  </div>
</div>

<!-- Горизорнтальный скролл -->

<section class="scrolling bg-white" data-scrolling>
  <h2 class="container font-alt text-40 text-md-50 bold-7 lh-4 shadow-text mb-5 mb-md-10 pb-0 anim anim--up" data-movement="blend" data-anim="hidden">Horizontal scroll</h2>
  <div class="scrolling__horizontal container flex gap-5 gap-md-10 sticky pt-0" data-scrolling-horizontal>
    <% for (var i = 0; i < 6; i++) { %>
      <a class="scrolling__pack pack pack--half bg-grey radius-5 shadow-box w-100" data-movement="light" data-fancybox="horizontal" href="https://picsum.photos/1040/520?random=<%= i %>">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <img class="scrolling__image image ease-in-out duration-2" data-scrolling-image src="https://picsum.photos/1040/520?random=<%= i %>" loading="lazy" alt="">
        </picture>
      </a>
    <% } %>
  </div>
</section>

<!-- Квиз -->

<section class="quiz container container--sm container--distance bg-grey">
  <div class="flex justify-between relative bg-white radius-4 shadow-box overflow-hidden p-5 p-md-10 anim anim--fade" data-anim="hidden">
    <form class="quiz__form form" data-form="params">
      <div class="quiz-slider flex flex-column w-100 h-100" data-quiz="stop">
        <div class="swiper mx-0">
          <div class="swiper-wrapper">
            <div class="swiper-slide h-auto" data-quiz-slide>
              <div class="flex flex-column h-100">
                <h4 class="text-24 bold-6 mb-5">Radio:</h4>
                <div class="flex align-center gap-5">
                  <input class="switch switch--radio" type="radio" value="radio-1" name="radio">
                  <input class="switch switch--radio" type="radio" value="radio-2" name="radio">
                  <input class="switch switch--radio" type="radio" value="radio-3" name="radio">
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto" data-quiz-slide>
              <div class="flex flex-column h-100">
                <h4 class="text-24 bold-6 mb-5">Checkbox:</h4>
                <div class="flex align-center gap-5">
                  <input class="switch switch--checkbox" type="checkbox" value="checkbox-1" name="checkbox[]">
                  <input class="switch switch--checkbox" type="checkbox" value="checkbox-2" name="checkbox[]">
                </div>  
              </div>
            </div>
            <div class="swiper-slide h-auto" data-quiz-slide>
              <div class="flex flex-column h-100">
                <label class="form-label mb-5" data-label="input">
                  <span class="text-20 mb-3">Name</span>
                  <div class="form-wrapper">
                    <div class="input-cover">
                      <input class="input" data-input="name" type="text" placeholder="Name" name="name">
                    </div>
                    <span class="form-error anim anim--fade" data-error>Пожалуйста, введите ваше имя!</span>
                  </div>
                </label>
                <label class="form-label mb-5" data-label="input">
                  <span class="text-20 mb-3">Telephone</span>
                  <div class="form-wrapper">
                    <div class="input-cover">
                      <input class="input" data-input="tel" type="tel" placeholder="+7 (" name="tel">
                    </div>
                    <span class="form-error anim anim--fade" data-error>Пожалуйста, введите ваш номер!</span>
                  </div>
                </label>
                <button class="btn btn--primary btn--lg btn--fill w-100" data-waved type="submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="quiz-slider-bottom fade-100 mt-auto duration-2">
          <div class="flex align-center mb-5">
            Оставшиеся слайды:
            <div class="swiper-pagination w-auto ml-1"></div>
          </div>
          <div class="flex align-center gap-5">
            <button class="quiz-slider__btn swiper-button-prev default btn btn--primary btn--lg btn--fill w-auto mt-0" data-waved>
              <svg class="icon text-12 mr-2">
                <use xlink:href="img/icons.svg#arrow-left">
              </svg>
              Prev
            </button>
            <button class="quiz-slider__btn swiper-button-next default btn btn--primary btn--lg btn--fill w-auto mt-0" data-waved>
              Next
              <svg class="icon text-12 ml-2">
                <use xlink:href="img/icons.svg#arrow-right">
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="quiz-images d-none d-md-block w-100">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < 3; i++) { %>
            <div class="swiper-slide pack pack--box bg-grey radius-3" data-movement="light">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <img class="image image--rise" src="https://picsum.photos/600/400?random=<%= i %>" loading="lazy" alt="">
              </picture>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Каталог -->

<section class="catalog container container--sm relative bg-white overflow-hidden">
  <div class="bg-block">
    <div class="catalog-bg h-100 duration-10 delay-3 anim anim--decrease" data-anim="hidden">
      <div class="swiper h-100">
        <div class="swiper-wrapper h-100">
          <% for (var i = 0; i < 6; i++) { %>
            <div class="swiper-slide pack pack--box h-100">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <img class="image" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
              </picture>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-between gap-5 relative zi-1 bg-white radius-4 shadow-box overflow-hidden p-5 p-md-10 anim anim--fade" data-anim="hidden">
    <div class="catalog__pictures w-100">
      <div class="catalog-slider bg-grey radius-4 overflow-hidden mb-5 mb-md-3">
        <div class="swiper h-100">
          <div class="swiper-wrapper h-100">
            <% for (var i = 0; i < 6; i++) { %>
              <a class="swiper-slide pack pack--box h-100" data-movement="light" data-fancybox="catalog" href="https://picsum.photos/1920/780?random=<%= i %>">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <img class="image image--rise" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
                </picture>
              </a>
            <% } %>
          </div>
          <div class="swiper-pagination absolute color-primary mt-5"></div>
        </div>
      </div>
      <div class="catalog-bullets">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% for (var i = 0; i < 6; i++) { %>
              <div class="swiper-slide pack pack--box bg-grey radius-4 pointer">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <img class="image" src="https://picsum.photos/1920/780?random=<%= i %>" loading="lazy" alt="">
                </picture>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog-info w-100 h-auto">
      <div class="swiper h-100">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < 6; i++) { %>
            <div class="swiper-slide h-auto">
              <div class="flex flex-column flex-grow h-100 p-2">
                <h4 class="font-alt text-32 text-md-46 bold-6 shadow-text mb-5">Slider slide</h4>
                <p class="text-16 text-md-18 bold-5 lh-4 mb-5 mb-md-10">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minus dolor magnam! Tenetur quam maiores vel vero iste aperiam dolores ipsa, quae autem sunt quo quia omnis commodi, impedit recusandae.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minus dolor magnam! Tenetur quam maiores vel vero iste aperiam dolores ipsa, quae autem sunt quo quia omnis commodi, impedit recusandae.
                </p>
                <button class="btn btn--primary btn--lg btn--fill w-100 w-md-50 mt-auto" data-waved>Button</button>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/player.html').default)() %>

<%= require('./includes/footer.html').default %>