// Главный блок
.main {
  min-height: 780px;

  &__pack {
    max-width: 330px;
  }

  &__btn {
    max-width: 240px;
  }

  @media(max-width: $lg) {
    & {
      min-height: 600px;
    }

    &__pack {
      max-width: 250px;
    }
  }
}

// О нас
.about {
  &__bg {
    background-image: linear-gradient(108.89deg, var(--color-akva) 30.7%, var(--color-second-30) 100%);
  }

  @media(min-width: $xl) {
    &__grid {
      gap     : 32px;
      grid-gap: 32px;
    }

    &__block {
      padding: 56px 48px;
    }
  }

  @media(max-width: $lg) {
    &__item {
      min-height: 200px;
    }
  }

  @media(max-width: $md) {
    &__item {
      min-height: 170px;
    }
  }
}

// Экспорт
.expo {
  &-slide {
    min-height: 270px;
  }

  @media(min-width: 2000px) {
    &-swiper {
      overflow: hidden;
    }
  }

  @media(max-width: $md) {
    &-slide {
      min-height: 220px;
    }
  }
}

// Шоу
.show {
  &__card {
    background-image: linear-gradient(107.73deg, var(--color-white-10) 0%, var(--color-white-10) 57.04%);
    backdrop-filter : blur(6px);
  }

  @media(min-width: $lg) {
    &__card {
      padding-block: 60px;
    }
  }
}

// Экспонат
.exhibit {
  &__number {
    max-width       : 110px;
    height          : 160px;
    background-image: linear-gradient(180deg, var(--color-second-10) 0%, var(--color-none) 100%);
  }

  @media(max-width: $md) {
    &__number {
      max-width: 70px;
      height   : 80px;
    }
  }
}

// Мероприятия
.events {
  &__item {
    &:not(:last-child) {
      border-bottom: 1px dashed var(--color-black-20);
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media(max-width: $sm) {
    &__pack {
      &::before {
        padding-top: 75%;
      }
    }
  }
}

// Новости
.news {
  &-slide:nth-child(odd) {
    --news-color: var(--color-black);
    --news-bg   : var(--color-grey);
  }

  &-slide:nth-child(even) {
    --news-color: var(--color-white);
    --news-bg   : var(--color-black);
  }

  &__card {
    color           : var(--news-color);
    background-color: var(--news-bg);
  }

  &__pack {
    &::before {
      padding-top: 55%;
    }
  }

  &__blur {
    position  : absolute;
    inset     : 0;
    background: linear-gradient(180deg, var(--color-none) 69.21%, var(--news-bg) 100%);
    z-index   : 2;
  }

  @media(hover) {
    &__card:hover &__image {
      transform: scale(1.1);
    }
  }

  @media(min-width: 2000px) {
    &-swiper {
      overflow: hidden;
    }
  }
}

// Детальная новости
.news-detail {
  &__blur {
    &::after {
      content         : "";
      position        : absolute;
      left            : 0;
      right           : 0;
      bottom          : 0;
      width           : 100%;
      height          : 390px;
      background-image: linear-gradient(0deg, var(--color-white) 0%, var(--color-none) 68.26%);
      pointer-events  : none;
    }
  }

  &__content {
    height: 800px;

    scrollbar: {
      width: thin;
      color: var(--color-black-50) var(--color-white);
    }

    &::-webkit-scrollbar {
      @media(pointer: fine) {
        width: 16px;

        &-track {
          background-color: var(--color-white);
        }

        &-thumb {
          background-color: var(--color-black-50);

          border: {
            width : 4px;
            style : solid;
            color : var(--color-white);
            radius: 8px;
          }
        }

        &-corner {
          background-color: var(--color-white);
        }
      }
    }
  }

  @media(hover) {
    &__card:hover &__image {
      transform: scale(1.1);
    }
  }

  @media(max-width: $lg) {
    &__blur {
      &::after {
        height: 250px;
      }
    }
  }

  @media(max-width: $md) {
    &__blur {
      &::after {
        display: none;
      }
    }

    &__content {
      height: auto;
    }
  }
}