// Главный блок
.main {
  min-height: 700px;

  &__btn {
    max-width: 200px;
  }

  @media(max-width: $xl) {
    & {
      min-height: 500px;
    }
  }
}

// Аккордеон
.accordion {
  &__item {
    background-color: var(--color-second-10);
  }

  &__item[data-accordion="active"] &__btn,
  &__files[data-accordion="active"] &__arrow {
    transform: rotate(90deg);
  }

  &__btn {
    min-width: 36px;
    width    : 36px;
    height   : 36px;
  }

  &__file {
    background-color: var(--color-primary-10);
    min-width       : 50px;
    height          : 50px;
  }
}

// Описание
.description {
  min-height: 100vh;
  background: no-repeat center / cover;
}

// Фильтр
.filter {
  max-width: 600px;

  &-card-show {
    animation: filter-card-show 0.3s ease both 1;
  }

  &__circle {
    width: 60px;

    &--grey {
      top      : 80px;
      left     : -30px;
      transform: translate(calc(var(--x) * 30), calc(var(--y) * 30));
    }

    &--white {
      right    : -30px;
      bottom   : -30px;
      transform: translate(calc(var(--x) * -30), calc(var(--y) * -30));
    }

    &--red {
      right : -25px;
      bottom: -300px;
    }
  }

  &__category {
    &--active {
      font-weight: bold;
    }
  }

  &__line {
    left         : 0;
    bottom       : 0;
    height       : 4px;
    border-radius: 8px 8px 0 0;
  }

  @media(max-width: $md) {
    &__categories {
      background-color: var(--color-grey);
      justify-content : flex-start;
      flex-direction  : column;

      border: {
        bottom: none;
        radius: 16px;
      }
    }

    &__category {
      color: var(--color-second);

      &--active {
        color           : var(--color-white);
        background-color: var(--color-second);
      }
    }
  }
}

@keyframes filter-card-show {
  0% {
    opacity  : 0;
    transform: translateY(50px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

// Обратная связь
.feedback {
  max-width: 400px;
}

// Вспомогательный
.auxiliary {
  max-width: 300px;
}

// Пользователь
.user {
  &__pack {
    min-width       : 40px;
    height          : 40px;
    background-color: var(--color-primary-40);
  }
}

// Продукция
.product {
  &__like {
    top  : 8px;
    right: 8px;
  }

  @media(min-width: $md) and (hover) {
    &__heart {
      visibility: hidden;
      opacity   : 0;
    }

    &__toggle:checked+&__heart {
      visibility: visible;
      opacity   : 1;
    }
  }

  @media(hover) {
    &:hover &__heart {
      visibility: visible;
      opacity   : 1;
    }
  }
}

// В корзину
.in-basket {
  width    : 40px;
  height   : 40px;
  transform: translate(-50%, -50%);
  animation: in-basket 2s ease both;
}

@keyframes in-basket {
  100% {
    top : -10%;
    left: 90%;
  }
}

// Корзина
.basket {
  top      : 50%;
  right    : 40px;
  max-width: 320px;
  transform: translateY(-50%);

  &:not([data-basket="show"]) {
    transform: translateY(-40%);
  }

  &__pack {
    min-width: 100px;
    width    : 100px;
  }

  @media(max-width: $md) {
    & {
      left : 0;
      right: 0;
    }
  }
}

// Горизорнтальный скролл
.scrolling {
  &__horizontal {
    overflow-x     : hidden;
    scroll-behavior: smooth;
    top            : 150px;
  }

  &__pack {
    min-width: 320px;
  }

  @media(min-width: $md) {
    & {
      height: var(--scroll-height);
    }

    &__pack {
      min-width: 800px;
    }

    &__image {
      width    : 130%;
      height   : 130%;
      transform: translate3d(var(--scroll-moving), 0, 0);
    }
  }

  @media(max-width: $md) {
    &__horizontal {
      overflow: auto;
      position: static;
    }
  }
}

// Квиз
.quiz {
  &__form {
    max-width: 450px;
  }

  &-slider {
    &[data-quiz="stop"] .swiper-button-next {
      pointer-events: none;
      opacity       : 0.5;
    }

    &[data-quiz-end] &-bottom {
      visibility: hidden;
      opacity   : 0;
    }

    &__btn {
      left : 0;
      right: 0;
    }
  }

  &-images {
    max-width: 400px;
  }

  @media(max-width: $lg) {
    &__form {
      max-width: 270px;
    }

    &-images {
      max-width: 330px;
    }
  }

  @media(max-width: $md) {
    &__form {
      max-width: 100%;
    }
  }
}

// Каталог
.catalog {
  &__pictures {
    max-width: 450px;
  }

  &-info {
    max-width: 550px;
  }

  @media(max-width: $xl) {

    &__pictures,
    &-info {
      max-width: 400px;
    }
  }

  @media(max-width: $lg) {
    &-slider {
      height: 320px;
    }

    &__pictures,
    &-info {
      max-width: 100%;
    }
  }
}

// Сравнение
.compare {
  &__change {
    top   : 0;
    bottom: 0;
    left  : 50%;
    width : 3px;
    height: 95%;
  }

  &__btn {
    min-width: 50px;
    width    : 50px;
    height   : 50px;
    cursor   : col-resize;
  }
}

// Время
.timer {
  &__block {
    max-width: 300px;
    height   : 300px;
  }

  &__stopwatch {
    top             : 0;
    left            : 0;
    right           : 0;
    width           : 2px;
    transform-origin: bottom;

    &::after {
      content         : "";
      display         : block;
      position        : relative;
      top             : -8px;
      width           : 16px;
      height          : 16px;
      background-color: var(--color-second);
      border-radius   : 50%;
    }
  }

  &__btn {
    min-width: 40px;
    width    : 40px;
    height   : 40px;
  }
}

// Открытка
.postcards {
  &__items {
    perspective: 600px;
  }

  &__item {
    width             : 150px;
    height            : 150px;
    perspective-origin: center center;
    transform-style   : preserve-3d;
    transform         : rotateX(40deg);
  }

  &__particle {
    backface-visibility: hidden;
    transition         : transform 0.3s, filter 1s;
    filter             : grayscale(0.9);

    background: {
      repeat: no-repeat;
      size  : 300% 300%;
    }

    &--1 {
      background-position: center center;
    }

    &--2 {
      top                : 0;
      left               : 100%;
      transform          : rotateY(180deg);
      transform-origin   : center left;
      background-position: center right;
      transition-delay   : 0.03s;
    }

    &--3 {
      top                : 100%;
      left               : 0;
      transform          : rotateX(-180deg);
      transform-origin   : center top;
      background-position: center bottom;
      transition-delay   : 0.03s;
    }

    &--4 {
      top                : 0;
      left               : -100%;
      transform          : rotateY(-180deg);
      transform-origin   : center right;
      background-position: center left;
      transition-delay   : 0.03s;
    }

    &--5 {
      top                : -100%;
      left               : 0;
      transform          : rotateX(180deg);
      transform-origin   : center bottom;
      background-position: center top;
      transition-delay   : 0.03s;
    }

    &--6 {
      top                : 100%;
      left               : 100%;
      transform          : rotateX(-180deg);
      transform-origin   : center top;
      background-position: right bottom;
      transition-delay   : 0s;
    }

    &--7 {
      top                : 100%;
      left               : -100%;
      transform          : rotateY(180deg);
      transform-origin   : center right;
      background-position: left bottom;
      transition-delay   : 0s;
    }

    &--8 {
      top                : -100%;
      left               : -100%;
      transform          : rotateX(180deg);
      transform-origin   : center bottom;
      background-position: left top;
      transition-delay   : 0s;
    }

    &--9 {
      top                : -100%;
      left               : 100%;
      transform          : rotateX(180deg);
      transform-origin   : center left;
      background-position: right top;
      transition-delay   : 0s;
    }
  }

  @media(hover) {
    &__item:hover {
      transform: translateZ(100px) rotateX(20deg);
      z-index  : 1;
    }

    &__item:hover &__particle {
      filter: grayscale(0);
    }

    &__item:hover :is(&__particle--2, &__particle--4, &__particle--7, &__particle--9) {
      transform: rotateY(0);
    }

    &__item:hover :is(&__particle--3, &__particle--5, &__particle--6, &__particle--8) {
      transform: rotateX(0);
    }

    &__item:hover :is(&__particle--2, &__particle--3, &__particle--4, &__particle--5) {
      transition-delay: 0s;
    }

    &__item:hover :is(&__particle--6, &__particle--7, &__particle--8, &__particle--9) {
      transition-delay: 0.2s;
    }
  }
}

// Мир
.world {
  &__country {
    &--active {
      color: var(--color-second-dark);
    }
  }

  @media(hover) {
    &__country {
      &:not(&--active):hover {
        color: var(--color-second-dark);
      }
    }
  }
}