// Главный блок
.main {
  min-height: 780px;

  &__pack {
    max-width: 330px;
  }

  &__btn {
    max-width: 240px;
  }

  @media(max-width: $lg) {
    & {
      min-height: 600px;
    }

    &__pack {
      max-width: 250px;
    }
  }
}